.container {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  gap: 20px;
  padding: 32px 0;
  box-sizing: border-box;
}

.posterWrapper {
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.movieContent {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.description {
  overflow: hidden;
  line-height: 1.5;
  max-height: calc(1.5em * 6);
  position: relative;
}
